/*Reset code*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Playfair Display', serif;
    font-size: 1.6rem;
}


/*Banner Area*/
.banner{
    display: flex;
    margin: 60px;
    margin-top: 45px;
    margin-left: 60px;
}
.title {
    width: 55%;
    margin-right: 40px;
}
.title h1 {
    position: relative;
    font-size: 40px;
    padding-bottom: 5px;
    padding-top: 35px;
    color: #000;
    margin-left: 15px;
}
.title-span{
    font-size: 40px;
    color: rgb(141, 47, 188);
    display: block;
}
.title h1:before {
    position: absolute;
    content: "";
    width: 5px;
    background-color: purple;
    height: 95px;
    left: -15px;
    top: 42px;
    border-radius: 15px;
}
.image {
    width: 40%;
}
.image img {
    width: 75%;
}
.btn {
    text-decoration: none;
    background-color: rgb(153 8 227);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.btn:hover {
    background-color: #b77081;
    transition: .4s;
}
.banner-para {
    padding: 30px 0px;
    padding-bottom: 50px;
    text-align: justify;
}
.para{
    margin-top: 55px ;
}


/*Mission Area*/

.head {
    text-align: center;
    font-size: 24px;
    font-family: sans-serif;
    margin-top: 90px;
    margin-bottom: 70px;
}
.head h1 span {
    color: rgb(204, 153, 230);
}
.all-missions {
    margin: 60px;
    display: flex;
}
.single-mission img {
    width: 250px;
    margin-left: 16%;
}
.single-mission h2 {
    text-align: center;
}
.single-mission {
    margin: 10px;
    padding: 40px;
    padding-top: 0;
    background-color: #dfabd9;
    border-radius: 10px;
    border: 1px solid #f7e5e8;
}
.single-mission p {
    text-align: justify;
    padding-top: 18px;
}


/*Article Area*/
.article-area {
    margin: 60px;
    display: flex;
    margin-top: 90px;
    
}
.bg {
    background-image: url("./images/shapes/dream-bg.png");
    background-position: right;
    background-repeat: no-repeat;
}
.article-img {
    width: 55%;
}
.article-img img {
    width: 100%;
}
.article {
    width: 100%;
    margin-left: 40px;
    padding-top: 75px;
}
.article h2 {
    font-size: 36px;
    font-family: sans-serif;
    margin-bottom: 20px;
    color: rgb(204, 153, 230);
}
.article p {
    margin-bottom: 30px;
}

/*Community Area*/
.com-article {
    width: 60%;
    margin-right: 40px;
    padding-top: 75px;
}
.com-img {
    width: 60%;  
}
.com-img img {
    width: 75%;
}
.com-article h2 {
    font-size: 36px;
    font-family: sans-serif;
    margin-bottom: 20px;
    color: rgb(204, 153, 230);
}
.com-article h2 span{
    color: #000;
    display: block;
}
.com-article p {
    margin-bottom: 30px;
}

/*Footer Area*/
footer {
    text-align: center;
    padding: 40px;
    background-color: #1e1e2c;
    margin-top: 150px;
}
footer h2 {
    font-family: 'Playfair Display';
    color: #8d2fbc;
    padding-bottom: 20px;
}

/*Feedback Area*/
.header {
    font-size: 18px;
    color: rgb(204, 153, 230);
    text-align: center;
    font-family: sans-serif;
    margin-top: 90px;
    margin-bottom: 70px;
}
.all-customers{
    display: flex;
    margin: 60px;
    text-align: center;
}
.photo img {
    width: 170px;
}
.single-customer {
    width: 330px;
    padding: 0px 20px;
    border: 2px solid rgb(204, 153, 230);
    border-radius: 5px;
    margin: 0 40px;
}
.single-customer h3 {
    color: #9e9d9a;
    font-family: sans-serif;
    padding: 13px 0;
}
.single-customer h3 span {
    display: block;
    font-size: 15px;
    color: rgb(204, 153, 230);
}
.single-customer p {
    padding-bottom: 30px;
}
